.vs
**/.vscode/ipch

*.snap
build
private/dependencies
private/generated
private/log
private/make/bin
private/make/buildbuddylog.txt
private/wheel/comm
private/wheel/common
private/wheel/motion
private/wheel/script

.snapcraft

samples-cpp/*/generated
samples-go/*/generated
samples-go/*/deps
samples-go/*/datalayer
samples-go/*/*.bfb
samples-python/*/*/__pycache__
samples-python/*/parts
samples-python/*/prime
samples-python/*/stage

samples-net/*/*.DotSettings.user



/CMakeFiles
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/sdk_control.vcxproj
/sdk_control.vcxproj.filters
/sdk_control_project.sln
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters


