# General Settings
site_name: Software Development Kit
site_url: https://boschrexroth.github.io/ctrlx-automation-sdk
site_description: ctrlX AUTOMATION Software Development Kit
site_author: Bosch Rexroth AG
copyright: Copyright &copy; 2020-2022 Bosch Rexroth AG

# Repository Settings
repo_name: boschrexroth/ctrlx-automation-sdk
edit_uri: edit/master/doc/
repo_url: https://github.com/boschrexroth/ctrlx-automation-sdk
remote_branch: gh-pages

docs_dir: doc
site_dir: site
use_directory_urls: false

# Theming and style
theme:
  name: material
  custom_dir: doc
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
  favicon: assets/favicon.png
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16

  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: rexroth-light
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

extra_css:
  - stylesheets/sdk.css

# Plugins
plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/boschrexroth
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/boschrexroth

markdown_extensions:
  - admonition
  - attr_list
  - codehilite
  - meta
  - toc:
      permalink: true
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - attr_list
  - pymdownx.highlight:
      linenums_style: pymdownx.inline
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details

# Content
nav:
    - Home: index.md
    - Getting Started: 
      - Overview : overview.md
      - ctrlX AUTOMATION: ctrlx_automation.md
      - Guidelines:
        - Package Assets: package-assets.md
        - App Developer Guideline: appdevguide.md
        - Data Persistance: persistdata.md
        - License Management: licensing.md
        - Service-to-Service Authentication: s2sauth.md
        - Using Flatbuffers in IEC 61131-3 Code: fbs2plc.md
        - Configure maximal Number of Open File Handles: numopenfilehandles.md
      - Releases:
        - Changelog: changelog.md
    - Setup:
      - Setup Overview: setup_overview.md
      - Quick Start Guide: quick-start-guide.md
      - ctrlX WORKS App Build Environment: setup_qemu_ctrlx_works.md
      - Important Installation Scripts: install-scripts.md
      - QEMU Virtual Machine: setup_qemu_ubuntu.md
      - VirtualBox Virtual Machine: setup_windows_virtualbox_ubuntu.md
      - Native Ubuntu 20.04: setup_ubuntu.md
      - Toolchain:
        - Px.exe as Proxy on a Windows Host: px.md
        - Connecting QEMU VMs and ctrlX CORE: connecting_qemu_vm_ctrlx.md 
        - SSH Connection: ssh_connection.md
        - Visual Studio Code: vscode.md
        - .NET: dotnet.md
        - Using Snapcraft Remote Build from Canonical: remote-build.md
    - Samples:
      - Overview: samples.md
      - Samples C/C++: samples-cpp/README.md
      - Samples Go: samples-go/README.md
      - Samples Python: samples-python/README.md
      - Samples .NET: samples-net/README.md
      - Samples Nodejs: samples-node/README.md
      - Samples Shell: samples-sh/README.md
      - Samples Snap: samples-snap/README.md
      - Samples IEC 61131-3: samples-iec61131/README.md
      - Debugging: debug.md
    - References: 
        - Overview: references.md
        - Api Reference:
          - c/c++: https://apps.boschrexroth.com/docs/ctrlx/comm.datalayer/html/index.html
          - c#: https://apps.boschrexroth.com/docs/ctrlx/csharp/html/index.html
          - python: https://apps.boschrexroth.com/docs/ctrlx/python/html/index.html
        - Bundle Reference:
          - Diagnosis: https://apps.boschrexroth.com/docs/ctrlx/diagnosis/html/index.html
          - Trace: https://apps.boschrexroth.com/docs/ctrlx/trace/html/index.html
          - Scheduler: https://apps.boschrexroth.com/docs/ctrlx/scheduler/html/index.html 
    - About: about.md
