{
  "$schema": "https://json-schema.boschrexroth.com/ctrlx-automation/ctrlx-core/apps/package-manifest/package-manifest.v1.4.schema.json",
  "version": "1.0.0",
  "id": "sdk-generate-manifest",
  "menus": {
    "sidebar": [
      {
        "id": "sdk-generate-manifest",
        "title": "",
        "icon": "bosch-ic-automation",
        "link": "https://www.google.com/"
      }
    ]
  }
}