<div class='sample'>
  <div class='sample-header'>
    <h1> {{'doc.pageTitle' | translate}} </h1>
    <p>{{'doc.title' | translate}}</p>
  </div>
  <br>

  <table mat-table [dataSource]="books" class="table">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> {{'doc.table.id' | translate}} </th>
        <td mat-cell *matCellDef="let book"> {{book.id}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> {{'doc.table.author' | translate}} </th>
        <td mat-cell *matCellDef="let book"> {{book.author}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> {{'doc.table.title' | translate}} </th>
        <td mat-cell *matCellDef="let book"> {{book.title | translate}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> {{'doc.table.category' | translate}} </th>
        <td mat-cell *matCellDef="let book"> {{book.category | translate}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> {{'doc.table.price' | translate}} </th>
        <td mat-cell *matCellDef="let book"> {{book.price | currency:'EUR':'symbol':'1.2-2' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="myColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: myColumns;"></tr>
  </table>

  <section>
    <table class='button-td' align="center">
        <td> <button mat-raised-button (click)="enLanguage()" [disabled]="isEnglish">English</button> </td>
        <td> <button mat-raised-button (click)="deLanguage()" [disabled]="isGerman">German</button> </td>
    </table>
  </section>
</div>