<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="http_proxy" value="http://127.0.0.1:3128" />
        <add key="https_proxy" value="http://127.0.0.1:3128" />
        <add key="no_proxy"  value="127.0.0.1,172.17.0.1,10.0.2.2,localhost,.local,.de.bosch.com" />
    </config>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>